@charset "utf-8";

/*layout styling*/

/*the banner that each section of content is displayed on*/
.contentBanner {
    font-size: 30px;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*wrap content up in a wrapper to keep them inline*/
.wrapper{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
/*what to do after for content that has the wrapper class*/
.wrapper:after {
    content: '';
    display: table;
    clear: both;
}
/*each individual column in the wrapper keeping the content left and using padding to space them out*/
.column {
    float: left;
    box-sizing: border-box;
    padding: 10px;
}
/* Grid system For Desktop*/
.large-1 {
    width: 8.666%;
}
.large-2 {
    width: 16.666%;
}
.large-3 {
    width: 25%;
}
.large-4 {
    width: 33.333%;
}
.large-5 {
    width: 41.666%;
}
.large-6 {
    width: 50%;
}
.large-7 {
    width: 58.333%;
}
.large-8 {
    width: 66.666%;
}
.large-9 {
    width: 75%;
}
.large-10 {
    width: 83.333%;
}
.large-11 {
    width: 91.666%;
}
.large-12 {
    width: 100%;
}
/* elements that have the large-hidden class will not be shown on a device over 654 pixels*/
@media screen and (min-width: 654px) {
    .large-hidden {
        display: none;
    }
}
/*reposition of the button on myskills images under 856 pixels*/
@media screen and (max-width: 865px) {
    .skillstext {
        margin-top: 60px;
        margin-left: 35px;
    }
}

/*reposition of the button on myskills images under 807 pixels and making font-size smaller in the navbar*/
@media screen and (max-width: 807px) {
    #myworknavbar li a, #navbar li:nth-child(2), #navbar li:nth-child(5),
    #navbar li:nth-child(3), #navbar li:nth-child(4), #navbar li:nth-child(6) {
        font-size: 17px;
    }
    .skillstext {
        margin-top: 220px;
        margin-left: 310px;
    }
    /*gridsystem for tablet and smaller desktops*/
    .small-1 {
        width: 8.333%;
    }
    .small-2 {
        width: 16.666%;
    }
    .small-3 {
        width: 25%;
    }
    .small-4 {
        width: 33.333%;
    }
    .small-5 {
        width: 41.666%;
    }
    .small-6 {
        width: 50%;
    }
    .small-7 {
        width: 58.333%;
    }
    .small-8 {
        width: 66.666%;
    }
    .small-9 {
        width: 75%;
    }
    .small-10 {
        width: 83.333%;
    }
    .small-11 {
        width: 91.666%;
    }
    .small-12 {
        width: 100%;
    }
}

/*reposition of the button on myskills images under 741 pixels and making font-size smaller in the navbar*/
@media screen and (max-width: 741px) {
    .skillstext {
        margin-top: 180px;
        margin-left: 270px;
    }
    #myworknavbar li a, #navbar li:nth-child(2), #navbar li:nth-child(5),
    #navbar li:nth-child(3), #navbar li:nth-child(4), #navbar li:nth-child(6) {
        font-size: 15px;
    }
}

/*making font-size smaller in the navbar for devices under 698 pixels*/
@media screen and (max-width: 698px) {
    #myworknavbar li a, #navbar li:nth-child(2), #navbar li:nth-child(5),
    #navbar li:nth-child(3), #navbar li:nth-child(4), #navbar li:nth-child(6) {
        font-size: 13px;
    }
}
/*gridsystem For mobile*/
@media screen and (max-width: 654px) {
    [class*="large-"] {
        width: 100%;
    }
    [class*="small-"] {
        width: 100%;
    }
    /*wont be displayed on small screens*/
    .small-hidden {
        display: none;
    }
    /*repoistion of read more buttons on the myskills image*/
    .skillstext {
        margin-top: 160px;
        margin-left: 220px;
        display: block;
    }
    /*making margin smaller for the mywork pages*/
    .myworkimages {
        margin-top: 10px;
    }
    /*making the spacing smaller on the headerimage on mobile*/
    #headerimage {
        padding-top: 100px;
        height: 600px;
    }
}

/*reposition of the button on myskills images under 585 pixels*/
@media screen and (max-width: 585px) {
    .skillstext {
        margin-top: 160px;
        margin-left: 180px;
    }
}

/*reposition of the button on myskills images under 535 pixels and making the images on the mywork pages smaller*/
@media screen and (max-width: 535px) {
    .skillstext {
        margin-top: 150px;
        margin-left: 180px;
    }
    .myworkimages {
        width: 350px;
        height: 300px;
    }
}

/*reposition of the button on myskills images under 480 pixels*/
@media screen and (max-width: 480px) {
    .skillstext {
        margin-top: 130px;
        margin-left: 160px;
    }
}

/*reposition of the button on myskills images under 450 pixels*/
@media screen and (max-width: 450px) {
    .skillstext {
        margin-top: 100px;
        margin-left: 110px;
    }
}

/*reposition of the button on myskills images under 389 pixels and resized the links in the contact section*/
@media screen and (max-width: 389px) {
    .skillstext {
        margin-top: 90px;
        margin-left: 90px;
    }
    .contactlinks {
        font-size: 18px;
    }
    #contact > article > p {
        font-size: 18px;
    }
}

/*reposition of the button on myskills images under 345 pixels*/
@media screen and (max-width: 345px) {
    .skillstext {
        margin-top: 60px;
        margin-left: 60px;
    }

}

/*reposition of the button on myskills images under 292 pixels*/
@media screen and (max-width: 292px) {
    .skillstext {
        margin-top: 60px;
        margin-left: 30px;
    }
}

/*only using the transition over each skill over 654 pixels*/
@media screen and (min-width: 654px) {
    .skill:hover {
        opacity: 0.2;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
    }
}
