/**
 * Created by Jacob Flynn on 02/03/2017, all content and code copyright Jacob Flynn © 2017
 */

/*
 margin and padding set as 0
 main colour and font set as default in the body
 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #0072CA;
}

/*
 styling for each individual word in the list of skills in the mywork section
 */
#skills li {
    text-decoration: none;
    display: inline-block;
    padding: 20px 15px;
    margin: 5px 5px;
    font-size: 20px;
    text-align: center;
    color: black;
    font-weight: bold;
    /*transition effect for when the skill is clicked*/
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
}

/*
   styling for the my skills list in the mywork section
 */
#skills {
    list-style-type: none;
    padding: 0;
}

/*
    Start of hamburger menu

   styling for each individual link in the hamburger menu
 */
#menu div a {
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}

/*
  style and positon of the hamburger
 */
#menu {
    background-color: #0072CA;
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
    background-size: cover;
}

/* end of hamburger menu and Start of Navbar */
/* Position for the first link in the navbar to the left and the font size */
#navbar li:first-child {
    float: left;
    margin: 0;
    font-size: 30px;
}

/*position every other link to the right*/
#navbar li {
    float: right;
    margin: 0;
}

/*preventing the links from going off the page*/
#navbar li:nth-child(2) {
    float: right;
    margin-right: 50px;
}

/*setting the colour and font for all the links*/
#navbar li a {
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* display a hand when hovering over all the links*/
#navbar li a:hover {
    cursor: hand;
}

/* Once the user has began scrolling and hovers over any of the links will make that link a darker blue*/
#navbar li.scrolled:hover {
    background-color: #004e8a;
}

/*display all the navbar links as invisible until user begins scrolling*/
#navbar li:nth-child(2), #navbar li:nth-child(5),
#navbar li:nth-child(3), #navbar li:nth-child(4), #navbar li:nth-child(6) {
    display: none;
    font-size: 20px;
}

/* styling for the whole list aka the navbar*/
#navbar ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    background-color: transparent;
    position: fixed;
    width: 100%;
    /*transition of when the navbar fades in*/
    -webkit-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
}

/*Change the background colour to blue*/
#navbar ul.scrolled {
    background-color: #0072CA;
}
/*End of Navbar*/

/*Landing Page Banner*/
#LandingPageText {
    text-align: center;
    color: white;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    text-shadow: 5px 5px 5px black;
    margin-top: 0;
}
#headerimage {
    background: url("../images/melondon.jpg") no-repeat center fixed;
    height: 800px;
    background-size: cover;
    margin: 0;
    padding-top: 300px;
}
/*end of landing page banner*/

/*down arrow image in landing page banner*/
#downarrow {
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    width: 60px;
    height: 60px;
}

/*All the background images between the content sections*/
#scotland {
    background: url("../images/scotland.jpg") no-repeat top center fixed;
    height: 550px;
    background-size: cover;
    margin: 0;
}
#toby{
    background: url("../images/toby.jpg") no-repeat center fixed;
    height: 550px;
    background-size: cover;
    margin: 0;
}
#anfield {
    background: url("../images/anfield.jpg") no-repeat center fixed;
    height: 550px;
    background-size: cover;
    margin: 0;
}
#daisy {
    background: url("../images/daisy.jpg") no-repeat top center fixed;
    height: 550px;
    background-size: cover;
    margin: 0;
}
/*end of the background images*/

/*change text to blue when each skill is hovered over*/
#showall:hover, #wordpress:hover, #website:hover, #server:hover, #mysql:hover, #php:hover, #jquery:hover, #javascript:hover, #laravel:hover, #sass:hover {
    color: #0072CA;
}

/* change background colour and create a border when each skill is clicked*/
#showall.clicked, #wordpress.clicked, #website.clicked, #apache.clicked, #server.clicked, #mysql.clicked, #php.clicked, #jquery.clicked, #javascript.clicked, #laravel.clicked, #sass.clicked {
    border: solid 2px;
    background-color: #0072CA;
    color: white;
    border-radius: 50px;
}

/*setting the default style for paragraphs*/
p {
    color: black;
    font-size: 24px;
}

/*Each image  of the websites in the mywork section*/
.skill {
    border: solid 1px black;
    height: 100%;
    width: 100%;
    border-top: none;
}
/*styling for the picture of me*/
#me{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/*Styling for the footer*/

/*styling for the footer on the website*/
#footertext {
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: #0072CA;
}

/*colour of the links in the footer*/
#footertext > .wrapper > a {
 color: white;
}

/*colour of link when it is hovered over*/
#footertext > .wrapper > a:hover {
    color: #dddddd;
    cursor: pointer;
}

/*padding of the images in the footer*/
footer > .wrapper > a > img {
    padding: 7px 10px 2px 13px;
}
/*end of footer styling*/

/* the three little green, red and yellow dots in the website in the mywork section*/
.border > i {
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #ff5f57;
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
    left: 10px;
    float: left;
}
.border > i:nth-child(2) {
    background-color: #ffbd2e;
}
.border > i:nth-child(3) {
    background-color: #28ca41;
}
.border {
    border: solid 1px black;
    background-color: #ededed;
    color: black;
    font-size: 20px;
    text-align: right;
    padding-bottom: 0;
    margin-bottom: 0;
    width: 100%;
}
/*end of the styling for the three little dots */

/* the button that displays 'read more' over the website images in the mywork section */
.skillstext {
    position: absolute;
    margin-top: 70px;
    margin-left: 60px;
    color: white;
    display: none;
    text-decoration: none;
    font-size: 20px;
    background-color: #0072CA;
}
/*changing the colour and the underline of links within the button*/
button > a {
    color: white;
    text-decoration: none;
}

/*hamburger menu styling*/
#navbar-icon {
    width: 60px;
    height: 45px;
    position: fixed;
    margin: 10px;
    /*transition for the rotation of the hamburger menu*/
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    /* transition with a slow start and slow end*/
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    cursor: pointer;
    border: solid 2px black;
    border-radius: 50%;
    background-color: black;
    bottom: 0px;
    right: 0px;

}
#navbar-icon span {
    margin-top: 7px;
    display: block;
    position: absolute;
    height: 6px;
    width: 40px;
    margin-left: 10px;
    background: #0072CA;
    border-radius: 9px;
    opacity: 1;

    /*transition of the rotation of the each individual line in the hamburger menu*/
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    /* transition with a slow start and slow end of the span elements in the hamburger menu*/
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#navbar-icon span:nth-child(1) {
    /* position of first span element in the hamburger menu*/
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#navbar-icon span:nth-child(2) {
    /* position of second span element in the hamburger menu*/
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#navbar-icon span:nth-child(3) {
    /* position of third span element in the hamburger menu*/
    top: 24px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#navbar-icon.open span:nth-child(1) {
    /* rotation of the first span element when the hamburger has been clicked*/
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    transform: rotate(50deg);
    top: -3px;
    left: 8px;
}

#navbar-icon.open span:nth-child(2) {
    /*make the second span element disappear when the hamburger menu is clicked*/
    width: 0%;
    opacity: 0;
}

/* rotation of the third span element when the hamburger has been clicked*/
#navbar-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-50deg);
    -moz-transform: rotate(-50deg);
    -o-transform: rotate(-50deg);
    transform: rotate(-50deg);
    top: 27px;
    left: 8px;
}

/*colour of each link in the hamburger when it has been clicked*/
#navbar-icon.active {
    background-color: #0072CA;
}

/*colour and spacing of links in the footer*/
.footerlinks {
    word-spacing: 8px;
    color: white;
}
/*links in the wrapper to have no text decoration*/
.wrapper > a {
    text-decoration: none;
}
/*the navbar for the mywork pages (seetheuniverse, lookamazing, cleversteam crm)*/
#myworknavbar li:first-child {
    float: left;
    margin: 0;
    font-size: 20px;
}
#myworknavbar li {
    float: right;
    margin: 0;
}
#myworknavbar li:nth-child(2) {
    float: right;
    margin-right: 50px;
}

#myworknavbar li a {
    font-weight: bold;
    text-shadow: 3px 3px 3px black;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
#myworknavbar li a:hover {
    cursor: hand;
}
#myworknavbar li.scrolled:hover {
    background-color: #004e8a;
}
#myworknavbar ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    top: 0;
    background-color: #0072CA;
    position: fixed;
    width: 100%;
}
/*the images on the seetheuniverse, lookamazing, cleversteam crm pages*/
.myworkimages {
    margin-top: 100px;
}
/*change the colour of the text in the strong texts*/
strong {
    color: #0072CA;
}
/*the about me buttons styling*/
.storys {
    background-color: transparent;
    padding: 10px;
    box-shadow: none;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    width: 150px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    color: #0072CA;
    border: 2px #0072CA solid;
    margin: 15px;
}
/*styling for the buttons when hovered over*/
.storys:hover {
    background-color: #0072CA;
    color: white;
    cursor: pointer;
}
/*make both storys invisible*/
#shortstory, #longstory {
    display: none;
}
/*styling for the h2 html tag*/
h2 {
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-top: 50px;
}
/*styling for the h3 html tag*/
h3 {
    font-size: 20px;
    color: dimgrey;
}
/*styying for the h4 html tag*/
h4 {
    color: black;
  }
/*the colour of the links to soource code and project*/
h4 > a {
    color: #0072CA;
}
/*font size for the education section on the website*/
.education {
    font-size: 18px;
}
/*colour and font styling for the contact links in the contact me section*/
.contactlinks {
    font-size: 24px;
    color: #0072CA;
    margin: 25px;
    text-decoration: none;
}
/*colour of the contact links, the links to soource code and project and the companies name when hovered over on the website*/
.contactlinks:hover, .companies:hover, h4 > a:hover {
    color: purple;
    cursor: pointer;
}

/*colour of the company names*/
.companies {
    color: #0072CA;
    text-decoration: none;
}
/*header title for every mywork pages (seetheunviverse, lookamazing, cleversteam crm)*/
.myworkheader {
    margin-top: 50px;
    font-size: 35px;
    margin-bottom: 0;
}